.mainContainer {
	width: 100%;
	height: calc(100% - 56px);
	display: flex;
	flex-direction: column;
	padding: 24px;
	overflow: auto;
}

.mainContainer__title {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}