.mainContainer {
	position: relative;
	width: 100%;
	max-width: 996px;
	height: calc(100% - 56px);
	display: flex;
	margin: auto;
	flex-direction: column;
	overflow: auto;
	z-index: 1;
}

.mainContainer__title {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 24px;
	background-color: var(--neutral-0);
	color: var(--neutral-800);
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}