.appLayouts {
	position: relative;
	width: 100svw;
	height: 100svh;
	min-width: 1280px;
}

.appLayouts__title {
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}