.button {
	margin: 12px 24px;
}

.button__element{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	gap: 11px;
	border-radius: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--netural-0);
}
