.button{
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--base-white);
}
