.logo {
	width: 134px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 4px;
	transition: border 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.logo:focus {
	border: 2px solid var(--base-900);
	outline: 2px solid var(--base-white);
}