.logo {
	width: 124px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 4px 6.05px 4px 4px;
}

.logo:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--base-white);
}