.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 64px;
	background: var(--base-black)
}

.header__button {
	width: 118px;
	background-color: var(--primary-400);
}