.navBar {
	width: 204px;
	height: 100%;
	background-color: var(--neutral-100);
	border-right: 1px solid var(--neutral-300);
	overflow: auto;
}

.navBar__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 24px 16px;
}

.navBar__item {
	width: 172px;
	height: 40px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.navBar__content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: var(--neutral-800);
	box-shadow: var(--shadows-base);
	color: var(--neutral-0);
	fill: var(--neutral-0);
}

.navBar__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
}

.navBar__content:hover {
	background-color: var(--neutral-700);
	box-shadow: var(--shadows-base-hover);
}

.navBar__content:focus-visible {
	background-color: var(--neutral-700);
	box-shadow: var(--shadows-base-hover);
	outline-offset: 2px;
	outline: 2px solid var(--neutral-900);
}