.navBar {
	width: 204px;
	height: 100%;
	background-color: var(--neutral-100);
	border-right: 1px solid var(--neutral-300);
	overflow: auto;
}

.navBar__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 24px 16px;
}

.navBar__item {
	width: 172px;
	height: 40px;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.navBar__content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: var(--neutral-800);
	box-shadow: var(--shadows-base);
	color: var(--neutral-0);
	fill: var(--neutral-0);
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.navBar__content:hover {
	background-color: var(--neutral-700);
	box-shadow: var(--shadows-base-hover);
}

.navBar__content:focus {
	background-color: var(--neutral-700);
	border: 2px solid var(--neutral-0);
	outline: 2px solid var(--neutral-900);
}