.sidebar {
	height: 100%;
	overflow: auto;
}

.sidebar__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: 100%;
	gap: 24px;
	background-color: var(--netural-300);
	overflow: auto;
}

.sidebar__image {
	width: 231px;
	object-fit: cover;
	object-position: center;
}

.sidebar__text {
	width: 352px;
	padding: 16px 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--neutral-800);
	text-align: center;
}