.footer {
	width: 441px;
	padding: 16px 24px;
	margin: auto;
}

.footer__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--neutral-600);
}

.footer__text_underline {
	color: var(--neutral-600);
	text-decoration: underline;
	transition: color 0.2s ease-in-out, border-redius 0.2s ease-in-out, border 0.2s ease-in-out,
		outline 0.2s ease-in-out;
}

.footer__text_underline:hover {
	color: var(--neutral-800);
}

.footer__text_underline:focus {
	color: var(--neutral-800);
	outline: 2px solid var(--neutral-900);
	border: 2px solid var(--neutral-0);
	border-radius: 4px;
}