.themeSwitcher {
	position: relative;
	width: 76px;
	height: 40px;
	cursor: pointer;
	background-color: var(--base-800);
	border-radius: 8px;
	box-shadow: var(--shadows-base);
}

.themeSwitcher__content::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: var(--primary-400);
	z-index: 0;
	box-shadow: var(--shadows-base);
	transition: transform 0.2s;
}

.themeSwitcher__content_dark.themeSwitcher__content::before {
	transform: translateX(36px);
}

.themeSwitcher__content {
	width: 100%;
	height: 100%;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.themeSwitcher__content:hover {
	box-shadow: var(--shadows-base-hover);
}

.themeSwitcher__content:hover::before {
	background-color: var(--base-white);
}

.themeSwitcher__content:focus-visible {
	box-shadow: var(--shadows-base-hover);
	outline-offset: 2px;
	outline: 2px solid var(--primary-0);
}

.themeSwitcher__content:focus-visible::before {
	background-color: var(--base-white);
}

.themeSwitcher__iconWrapper {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--base-600);
	z-index: 1;
}

.themeSwitcher__content_ligth .themeSwitcher__iconWrapper:first-child {
	fill: var(--base-white);
}

.themeSwitcher__content_ligth:hover .themeSwitcher__iconWrapper:first-child {
	fill: var(--base-900);
}

.themeSwitcher__content_ligth:focus-visible .themeSwitcher__iconWrapper:first-child {
	fill: var(--base-900);
}

.themeSwitcher__content_dark .themeSwitcher__iconWrapper:last-child {
	fill: var(--base-white);
}

.themeSwitcher__content_dark:hover .themeSwitcher__iconWrapper:last-child {
	fill: var(--base-900);
}

.themeSwitcher__content_dark:focus-visible .themeSwitcher__iconWrapper:last-child {
	fill: var(--base-900);
}