@import url("./normalize.css");
@import url("./variables.css");
@import url("./reset.css");

@font-face {
	font-family: 'Source Sans 3 Regular';
	src: local("Source Sans 3 Regular"), local("SourceSans3-Rugular"), url("./fonts/AnyConv.com__SourceSans3-Regular.woff2") format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3 SemiBold';
	src: local("Source Sans 3 SemiBold"), local("SourceSans3-Semibold"), url("./fonts/AnyConv.com__SourceSans3-SemiBold.woff2") format('woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3 Bold';
	src: local("Source Sans 3 Bold"), local("SourceSans3-Bold"), url("./fonts/AnyConv.com__SourceSans3-Bold.woff2") format('woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

html,
body {
	font-family: 'Source Sans 3', sans-serif;
}