@import url("./normalize.css");
@import url("./variables.css");

@font-face {
	font-family: 'Source Sans 3';
	src: local("Source Sans 3"), local("SourceSans3"), url("./fonts/SourceSans3-Regular.woff2") format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3';
	src: local("Source Sans 3"), local("SourceSans3"), url("./fonts/SourceSans3-SemiBold.woff2") format('woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3';
	src: local("Source Sans 3"), local("SourceSans3"), url("./fonts/SourceSans3-Bold.woff2") format('woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
	transition: color 0.2s, fill 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s, outline 0.2s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Source Sans 3', sans-serif;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

:Root {
	overflow-y: hidden;
	overflow-x: auto;
}