:root {
	--netural-0: rgba(255, 255, 255, 1);
	--netural-100: rgba(251, 251, 251, 1);
	--netural-200: rgba(243, 243, 243, 1);
	--netural-300: rgba(236, 236, 236, 1);
	--netural-400: rgba(191, 191, 191, 1);
	--netural-500: rgba(140, 140, 140, 1);
	--netural-600: rgba(108, 108, 108, 1);
	--netural-700: rgba(57,57,57, 1);
	--netural-800: rgba(28, 28, 28, 1);
	--netural-900: rgba(20, 20, 20, 1);
	--primary-0: rgba(254, 244, 244, 1);
	--primary-100: rgba(255, 206, 206, 1);
	--primary-200: rgba(252, 169, 169, 1);
	--primary-300: rgba(242, 89, 89, 1);
	--primary-400: rgba(213, 16, 16, 1);
	--primary-500: rgba(166, 12, 12, 1);
	--primary-600: rgba(118, 9, 9, 1);
	--primary-400-500: linear-gradient(var(--primary-400),
			var(--primary-500));
	--base-black: rgba(0, 0, 0, 1);
}