.taskList {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

.taskList__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 60px;
}

.taskList__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.taskList__description {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.taskList__image {
 width: 463px;
}